# MANIFEST.in for vbpca_py

# -----------------------------
# Core source files (Python + C++)
# -----------------------------
recursive-include src *.py *.pyi *.cpp
include src/vbpca_py/py.typed

# -----------------------------
# Top-level metadata
# -----------------------------
include pyproject.toml
include README.md
include LICENSE
include MANIFEST.in

# -----------------------------
# Tests
# -----------------------------
# Include all lightweight tests
recursive-include tests *.py
